.cta-group_container__VT5GH {
  margin-top: var(--space-6x);
  display: flex;
  flex-direction: column;
  gap: var(--space-1x);
  align-items: center;
}
@media (min-width: 768px) {
  .cta-group_container__VT5GH {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.cta-group_row__Y9WRu {
  flex-direction: row;
}
.cta-group_column__7w25K {
  flex-direction: column;
}
.cta-group_column__7w25K div[class*="ctaButtonContainer"] {
  align-self: stretch;
}
.cta-group_left__YAPfa {
  align-items: flex-start;
}
.cta-group_center__Fe5Hu {
  align-items: center;
}
.cta-button_ctaContainer__Xe6fc {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 512px) {
  .cta-button_ctaContainer__Xe6fc {
    width: auto;
  }
}
.cta-button_ctaContainer__Xe6fc.cta-button_center__tknZ1 {
  align-items: center;
}
.cta-button_ctaContainer__Xe6fc.cta-button_left__PJ9yI {
  align-items: flex-start;
}
.cta-button_ctaContainer__Xe6fc .cta-button_ctaButtonAndUnderLinkContainer__EGZ3L {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}
.cta-button_ctaContainer__Xe6fc .cta-button_ctaButtonAndUnderLinkContainer__EGZ3L > a,
.cta-button_ctaContainer__Xe6fc .cta-button_ctaButtonAndUnderLinkContainer__EGZ3L > button {
  width: 100%;
}
@media (min-width: 512px) {
  .cta-button_ctaContainer__Xe6fc .cta-button_ctaButtonAndUnderLinkContainer__EGZ3L,
  .cta-button_ctaContainer__Xe6fc .cta-button_ctaButtonAndUnderLinkContainer__EGZ3L > a,
  .cta-button_ctaContainer__Xe6fc .cta-button_ctaButtonAndUnderLinkContainer__EGZ3L > button {
    width: auto;
  }
}
.cta-button_ctaContainer__Xe6fc
  .cta-button_ctaButtonAndUnderLinkContainer__EGZ3L
  .cta-button_ctaUnderLink__ke9U_ {
  font-size: var(--font-size-14);
  margin-top: var(--space-6x);
}
.cta-button_ctaContainer__Xe6fc .cta-button_ctaButtonAndUnderLinkContainerFullWidth__ajH06 {
  align-self: stretch;
}
.cta-button_ctaDescription__F5C6U {
  margin-top: var(--space-6x);
  width: auto;
}
.cta-button_ctaDescription__F5C6U.cta-button_fixedWidthDescription__siIUe {
  width: 100%;
  max-width: 32rem;
}
@media (min-width: 512px) {
  .cta-button_ctaDescription__F5C6U.cta-button_fixedWidthDescription__siIUe {
    width: 100%;
    max-width: 38rem;
  }
}
.cta-button_inline__CG3AR {
  display: inline-block;
  width: auto;
}
.cta-button_goCtaButton__0ZSj5 {
  position: relative;
}
.rich-text_olList__gRIgt,
.rich-text_ulList__HUc67 {
  list-style-type: revert;
  margin: revert;
  padding: revert;
}
.rich-text_ulList__HUc67 {
  list-style-type: "·";
  padding-inline: var(--space-9x);
}
.rich-text_olList__gRIgt {
  margin-block: var(--space-4x);
}
.rich-text_olList__gRIgt .rich-text_olList__gRIgt {
  -webkit-padding-start: var(--space-2x);
  padding-inline-start: var(--space-2x);
}
.rich-text_listItem__yWJRf {
  overflow-wrap: break-word;
}
.rich-text_listItem__yWJRf + .rich-text_listItem__yWJRf {
  -webkit-margin-before: var(--space-2x);
  margin-block-start: var(--space-2x);
}
.rich-text_olList__gRIgt .rich-text_listItem__yWJRf {
  -webkit-padding-end: 0;
  padding-inline-end: 0;
}
.rich-text_ulList__HUc67 .rich-text_listItem__yWJRf {
  padding-inline: var(--space-3x);
}
.section_section___xslj {
  color: var(--color-text-primary-default);
}
.section_background__xBnYM {
  position: absolute;
  inset: 0;
}
.section_background__xBnYM img,
.section_background__xBnYM picture {
  height: 100%;
  width: 100%;
}
.section_background__xBnYM + * {
  position: relative;
}
.section_section___xslj:has(> .section_background__xBnYM) {
  position: relative;
}
/*# sourceMappingURL=02381610e350f0d4.css.map*/
