.list_listItem {
  position: relative;
}
.list_listItem:before {
  content: "";
  width: 12px;
  height: 12px;
  border: 1.5px solid;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.list_listItem + .list_listItem {
  -webkit-margin-before: var(--space-3x);
  margin-block-start: var(--space-3x);
}
.tabbed-section-content_container {
  --heading-font-size: 32px;
  --content-padding-block: 32px;
  --content-padding-inline: 18px;
  --heading-margin-block-end: 18px;
  --copy-margin-block-end: 24px;
  --link-margin-block-end: 36px;
  --link-gap: 12px;
  --link-gap--hover: 18px;
  --link-text-font-size: 18px;
  --copy-max-width: 92%;
  --list-item-font-size: 16px;
  --list-item-padding-inline-start: 30px;
  --list-item-margin-block-start: 30px;
  background-color: #f7f5f2;
  border-block: 1px solid var(--color-border-primary-default);
}
@media (min-width: 640px) {
  .tabbed-section-content_container {
    --heading-font-size: 36px;
    --content-padding-block: 36px;
    --content-padding-inline: 36px;
    --copy-margin-block-end: 32px;
    --link-gap: 12px;
    --link-text-font-size: 20px;
    --copy-max-width: 79%;
    --list-item-font-size: 20px;
    --list-item-padding-inline-start: 32px;
    --list-item-margin-block-start: 28px;
  }
}
@media (min-width: 1080) {
  .tabbed-section-content_container {
    --heading-margin-block-end: 24px;
    --copy-margin-block-end: 32px;
    --copy-max-width: 91%;
    --list-item-font-size: 16px;
    --list-item-padding-inline-start: 26px;
  }
}
@media (min-width: 1280) {
  .tabbed-section-content_container {
    --content-padding-block: 40px;
    --copy-max-width: 88%;
    --list-item-font-size: 20px;
    --list-item-padding-inline-start: 26px;
  }
}
@media (min-width: 1440px) {
  .tabbed-section-content_container {
    --heading-font-size: 48px;
    --content-padding-inline: 48px;
    --copy-max-width: 86%;
  }
}
.tabbed-section-content_titleWrapper {
  display: flex;
  align-items: center;
  gap: var(--space-3x);
  min-height: 6.4rem;
  padding-inline: var(--content-padding-inline);
  background-image: repeating-linear-gradient(
    90deg,
    #d0cdc6,
    #d0cdc6 4px,
    transparent 0,
    transparent 8px
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 100% 1.5px;
}
.tabbed-section-content_title {
  font-size: 20px;
  line-height: 110%;
}
.tabbed-section-content_content {
  flex: 1 0 auto;
  padding-block: var(--content-padding-block);
  padding-inline: var(--content-padding-inline);
}
.tabbed-section-content_heading {
  font-size: var(--heading-font-size);
  line-height: 96%;
  -webkit-margin-after: var(--heading-margin-block-end);
  margin-block-end: var(--heading-margin-block-end);
}
.tabbed-section-content_copyWrapper {
  -webkit-margin-after: var(--copy-margin-block-end);
  margin-block-end: var(--copy-margin-block-end);
  max-width: var(--copy-max-width);
}
.tabbed-section-content_linkWrapper {
  flex: 1 0 auto;
  -webkit-margin-after: var(--link-margin-block-end);
  margin-block-end: var(--link-margin-block-end);
}
.tabbed-section-content_link {
  align-items: center;
  color: var(--color-text-accent-default);
  display: inline-flex;
  gap: var(--link-gap);
  transition: gap 0.15s ease-in-out;
}
.tabbed-section-content_link:hover {
  color: var(--color-text-accent-hover);
  gap: var(--link-gap--hover);
}
.tabbed-section-content_link[aria-disabled="true"] {
  color: var(--color-text-accent-disabled);
}
.tabbed-section-content_linkText {
  color: inherit;
  font-size: var(--link-text-font-size);
  line-height: 25px;
  letter-spacing: -0.02em;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}
.tabbed-section-content_listItem {
  font-size: var(--list-item-font-size);
  -webkit-padding-start: var(--list-item-padding-inline-start);
  padding-inline-start: var(--list-item-padding-inline-start);
}
.tabbed-section-content_listItem + .tabbed-section-content_listItem {
  -webkit-margin-before: var(--list-item-margin-block-start);
  margin-block-start: var(--list-item-margin-block-start);
}
.tabbed-section-content_image,
.tabbed-section-content_mediaWrapper,
.tabbed-section-content_video {
  height: 100%;
}
.tabbed-section-content_image img,
.tabbed-section-content_image video,
.tabbed-section-content_video img,
.tabbed-section-content_video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.grid_grid {
  --_columns: 1;
  display: grid;
  grid-template-columns: repeat(var(--_columns), minmax(0, 1fr));
  grid-gap: var(--_row-gap, var(--_gap, 0)) var(--_col-gap, var(--_gap, 0));
  gap: var(--_row-gap, var(--_gap, 0)) var(--_col-gap, var(--_gap, 0));
  @media (min-width: 1081px) {
    --_columns: 2;
  }
}
.grid_isReversed {
  @media (min-width: 1081px) {
    > :last-child {
      order: -1;
    }
  }
}
.agent-card_card {
  --logo-size: 36px;
  overflow: hidden;
  min-height: 100%;
  height: -moz-fit-content;
  height: fit-content;
  text-decoration: none;
}
.agent-card_contentContainer {
  padding-bottom: var(--space-4x);
}
.agent-card_description {
  margin-top: var(--space-1x);
  color: var(--color-fg-primary-default);
}
.agent-card_textContainer {
  min-width: 0;
}
.agent-card_checkmarkIcon {
  color: var(--color-icon-accent-default);
  flex-shrink: 0;
}
.agent-card_image {
  width: var(--logo-size);
  flex-shrink: 0;
}
.agent-card_description,
.agent-card_maker,
.agent-card_name {
  font-family: var(--font-family-sans);
}
.agent-card_name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.agent-page-wrapper_root_ {
  --agent-module-padding-inner: 32px;
  --agent-module-bottom-padding: 64px;
  padding: 48px var(--agent-module-padding-inner);
  max-width: var(--content-max-width);
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 641px) {
  .agent-page-wrapper_root_ {
    padding: var(--space-6x) var(--agent-module-padding-inner) var(--agent-module-bottom-padding)
      var(--agent-module-padding-inner);
  }
}
.agent-page-wrapper_title_ {
  text-align: center;
  margin: 0 auto;
}
.agent-page-wrapper_agentsContainer {
  width: 100%;
  padding-top: var(--space-8x);
}
.homepage-text_headingMedium {
  font-size: 3.2rem;
  line-height: 96%;
  font-weight: var(--font-weight-regular);
  @container (width > 400px) {
    font-size: 3.6rem;
  }
  @container (width > 600px) {
    font-size: 4.8rem;
  }
}
.homepage-text_headingLarge {
  max-width: 12ch;
  font-size: 3.6rem;
  line-height: 90%;
  font-weight: var(--font-weight-medium);
  @container (width > 400px) {
    font-size: 4.8rem;
  }
  @container (width > 600px) {
    font-size: 6.4rem;
  }
}
.homepage-text_copy {
  font-size: 1.8rem;
  line-height: 130%;
  font-family: var(--font-family-serif);
  @container (width > 400px) {
    font-size: 2rem;
  }
  @container (width > 600px) {
    font-size: 2rem;
    max-width: 74cqi;
  }
}
.homepage-text_heroTitle {
  text-align: center;
  font-size: 3.2rem;
  line-height: 96%;
  font-weight: var(--font-weight-medium);
  @media (min-width: 641px) {
    font-size: var(--font-size-48);
  }
  @media (min-width: 1081px) {
    font-size: var(--font-size-64);
  }
}
.homepage-text_heroHeading {
  text-align: center;
  font-size: var(--font-size-16);
  line-height: 130%;
  font-weight: var(--font-weight-regular);
  @media (min-width: 641px) {
    font-size: var(--font-size-24);
  }
  @media (min-width: 1081px) {
    font-size: var(--font-size-26);
  }
}
.homepage-text_heroCard {
  font-size: var(--font-size-14);
  line-height: var(--line-height-open);
  font-weight: var(--font-weight-regular);
}
.tabbed-section-header_header {
  position: -webkit-sticky;
  position: sticky;
  top: 67px;
  z-index: var(--z-index-sticky);
  background-color: var(--neutral-10);
}
.tabbed-section-header_headerContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-8x);
  flex-wrap: wrap;
  padding-block: var(--space-8x);
  -webkit-border-after: 1px solid var(--color-border-primary-default);
  border-block-end: 1px solid var(--color-border-primary-default);
}
@media (min-width: 640px) {
  .tabbed-section-header_headerContent {
    flex-direction: row;
    padding-block: var(--space-6x);
    -webkit-border-after: none;
    border-block-end: none;
  }
}
@media (min-width: 1281px) {
  .tabbed-section-header_headerContent {
    padding-block: var(--space-9x);
  }
}
.tabbed-section-header_nav {
  --_columns: 4;
  background-color: var(--neutral-5);
  border: 1px solid var(--color-border-primary-default);
}
@media (max-width: 767px) {
  .tabbed-section-header_nav {
    display: none;
  }
}
.tabbed-section-header_navItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-3x);
  min-height: 6.8rem;
}
.tabbed-section-header_navItem:not(:last-child) {
  -webkit-border-end: 1px solid var(--color-border-primary-default);
  border-inline-end: 1px solid var(--color-border-primary-default);
}
.tabbed-section-header_navItem.tabbed-section-header_active {
  background-color: #e9e5dd;
}
.tabbed-section-header_navItemText {
  font-size: var(--font-size-20);
  line-height: 110%;
}
.tabbed-section_container {
  --content-margin-block-end: 40px;
  --accent-bars-width: 36px;
  background-color: var(--neutral-10);
}
@media (min-width: 768px) {
  .tabbed-section_container {
    --content-margin-block-end: 56px;
  }
}
@media (min-width: 1280) {
  .tabbed-section_container {
    --content-margin-block-end: 64px;
  }
}
@media (min-width: 1572) {
  .tabbed-section_container {
    --content-margin-block-end: 72px;
  }
}
.tabbed-section_content {
  background-image: repeating-linear-gradient(45deg, var(--gradient-diagonal-line));
  border: 1px solid var(--color-border-primary-default);
  -webkit-margin-after: var(--content-margin-block-end);
  margin-block-end: var(--content-margin-block-end);
  padding-block: 36px;
}
@media (min-width: 768px) {
  .tabbed-section_content {
    -webkit-margin-before: 32px;
    margin-block-start: 32px;
  }
}
.agents_agentBench {
  padding: var(--space-3x);
  flex-direction: column;
  gap: var(--space-4x);
  border-radius: 34px;
  background: linear-gradient(180deg, rgba(31, 27, 90, 0.24), rgba(31, 27, 90, 0.15));
  -webkit-backdrop-filter: blur(22.5rem);
  backdrop-filter: blur(22.5rem);
  box-shadow: 0 0 25px hsla(0, 0%, 100%, 0.25);
  top: 50%;
  transform: translateY(-50%);
  right: max(50dvw - min(40rem, 33.3333333333dvw), 16rem);
  position: absolute;
}
.agents_agentBench,
.agents_agent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.agents_agent {
  width: 6.8rem;
  height: 6.8rem;
  border-radius: var(--border-radius-full);
  position: relative;
  opacity: 0;
}
.agents_agentIcon {
  opacity: 1;
}
.agents_agentName {
  opacity: 0;
  position: absolute;
  left: 10rem;
  white-space: nowrap;
  font-size: 2rem;
  font-weight: var(--font-weight-medium);
  color: var(--color-text-primary-default);
  scale: 0.8;
  transition:
    opacity 0.5s ease-in-out,
    scale 0.5s ease-in-out;
}
.agents_highlightGO [data-name="Go"],
.agents_highlightProofreader [data-name="Proofreader"] {
  opacity: 0.8;
  scale: 1;
}
.agents_highlightPlus_ [data-name="Expert Review"],
.agents_highlightPlus_ [data-name="Reader Reactions"],
.agents_highlightPlus_ [data-name="Calendar"],
.agents_highlightPlus_ [data-name="Humanizer"],
.agents_highlightPlus_ [data-name="Mail"],
.agents_highlightPlus_ [data-name="Paraphraser"] {
  animation: agents_fade 1s ease-in;
}
.agents_highlightPlus_ [data-name="Humanizer"] {
  animation-delay: 0.1s;
}
.agents_highlightPlus_ [data-name="Expert Review"],
.agents_highlightPlus_ [data-name="Mail"] {
  animation-delay: 0.2s;
}
.agents_highlightPlus_ [data-name="Reader Reactions"],
.agents_highlightPlus_ [data-name="Calendar"] {
  animation-delay: 0.3s;
}
.agents_highlightPlus_ [data-name="Add agent"] {
  opacity: 0.8;
  scale: 1;
  animation-delay: 0.4s;
}
@keyframes agents_fade {
  0% {
    opacity: 0;
    scale: 0.8;
  }
  50% {
    opacity: 0.8;
    scale: 1;
  }
}
.agents_agentActive {
  position: absolute;
  width: 6.8rem;
  height: 6.8rem;
}
.try-it-now-button_tryItNowButton {
  pointer-events: all;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}
.try-it-now-button_tryItNowButton.try-it-now-button_tryItNowButtonHidden {
  opacity: 0;
  visibility: hidden;
}
.header_header {
  padding: var(--space-4x) var(--space-4x);
  width: 100%;
  position: fixed;
  z-index: 1;
  pointer-events: none;
}
.header_header .header_headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 160rem;
}
.header_logoIcon {
  width: 168px;
  height: 24px;
  background-repeat: no-repeat;
  display: block;
  pointer-events: all;
}
.title-and-text_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-6x);
}
.title-and-text_title_ {
  font-size: var(--font-size-48);
  line-height: var(--font-size-48);
}
.title-and-text_text {
  font-size: var(--font-size-20);
  line-height: var(--line-height-default);
}
.title-and-text_text,
.title-and-text_title_ {
  color: var(--color-text-primary-default);
}
.arrow_arrow {
  position: fixed;
  top: calc(50% + 5rem);
  right: 5rem;
  width: 10rem;
  height: 4rem;
  animation: arrow_move-arrow 2.5s ease-in-out infinite;
}
.arrow_arrowStem {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: arrow_draw-stem_ 2.5s ease-in-out infinite;
}
.arrow_arrowHeadBottom,
.arrow_arrowHeadTop {
  stroke-dasharray: 30;
  stroke-dashoffset: 30;
  animation: arrow_draw-head 2.5s ease-in-out infinite;
}
@keyframes arrow_draw-stem_ {
  0% {
    stroke-dashoffset: 200;
  }
  50% {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes arrow_draw-head {
  0% {
    stroke-dashoffset: 30;
  }
  23% {
    stroke-dashoffset: 30;
  }
  36% {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes arrow_move-arrow {
  0% {
    transform: translate(-25px, 15px);
  }
  37% {
    transform: translate(0);
  }
  to {
    transform: translate(0);
  }
}
.confetti-explosion_confettiCSS {
  position: fixed;
  right: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
}
@keyframes confetti-explosion_confetti-glow {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  20% {
    transform: scale(0.3);
    opacity: 0.8;
  }
  50% {
    transform: scale(0.8);
    opacity: 0.4;
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes confetti-explosion_confetti-fade {
  0% {
    transform: translate(0) scale(1);
    opacity: 1;
  }
}
.confetti-explosion_confettiParticle {
  width: var(--particle-size);
  height: var(--particle-size);
  background: var(--particle-color);
  transform: translate(
      calc(cos(var(--angle)) * var(--distance)),
      calc(sin(var(--angle)) * var(--distance))
    )
    scale(var(--scale));
  animation: confetti-explosion_confetti-fade var(--lifetime)
    cubic-bezier(0.4, -0.02, 0.07, 1.02) forwards;
}
.confetti-explosion_confettiGlow,
.confetti-explosion_confettiParticle {
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: var(--border-radius-full);
  opacity: 0;
}
.confetti-explosion_confettiGlow {
  width: var(--radius);
  height: var(--radius);
  margin-right: calc(-0.5 * var(--radius));
  background: radial-gradient(
    circle,
    rgba(245, 236, 168, 0.6) 0,
    rgba(245, 236, 168, 0.3) 20%,
    rgba(245, 236, 168, 0.1) 40%,
    rgba(245, 236, 168, 0.05) 60%,
    rgba(245, 236, 168, 0) 100%
  );
  filter: blur(20px);
  mix-blend-mode: screen;
  transform: scale(0);
  animation: confetti-explosion_confetti-glow 1s ease-out forwards;
}
.fake-notch_notch {
  width: 3.2rem;
  height: 7.8rem;
  background-color: var(--button-background-secondary-default);
  border-radius: var(--border-radius-4x) 0 0 var(--border-radius-4x);
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  box-shadow:
    0 0 1px 0 rgba(0, 0, 0, 0.502),
    -4px 0 20px 0 rgba(0, 0, 0, 0.2);
}
.fake-notch_notch button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-left: 2px;
}
.fake-notch_notch .fake-notch_notchIcon {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}
.text-field_container {
  border-radius: var(--border-radius-3x);
  width: 60rem;
  margin: 0 auto;
  background: var(--white);
  overflow: hidden;
  min-height: 45rem;
}
.text-field_header {
  padding: 1rem;
  text-align: center;
  background: var(--neutral-10);
  color: rgba(14, 16, 26, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2x);
  position: relative;
}
.text-field_header .text-field_headerText {
  font-size: var(--font-size-14);
}
.text-field_header .text-field_dotContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2x);
  position: absolute;
  left: var(--space-4x);
}
.text-field_header .text-field_dot {
  width: 1.2rem;
  height: 1.2rem;
  background: var(--color-border-primary-default);
  border-radius: var(--border-radius-3x);
  display: inline-block;
  align-self: start;
}
.text-field_contentContainer {
  position: relative;
  padding: 0 var(--space-4x);
}
.text-field_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-6x);
  font-family: var(--font-family-sans);
  padding: var(--space-4x);
  outline: none;
  font-size: var(--font-size-14);
}
.text-field_content h1 {
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: var(--font-weight-regular);
  margin: 0;
}
.text-field_content p {
  font-size: var(--font-size-14);
  color: var(--neutral-60);
}
.text-field_content p:focus {
  outline: none;
}
.go-time_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.go-time_text {
  padding: var(--space-8x) 0;
  scroll-snap-align: center;
}
.go-time_goTimeContainer,
.go-time_textFieldContainer {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.go-time_goTimeContainer {
  max-width: 100%;
  grid-row: 2;
  grid-column: 1 / span 2;
}
.go-time_maskFront:after {
  content: "";
  position: fixed;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 62%, rgba(0, 0, 0, 0.32));
  pointer-events: none;
}
.bottom-text_bottomText {
  margin-top: var(--space-16x);
  text-align: center;
  color: var(--color-text-primary-default);
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-medium);
}
@media (max-height: 768px) {
  .bottom-text_bottomText {
    margin-top: var(--space-8x);
  }
}
.card_card {
  border: 0.5px solid hsla(0, 0%, 100%, 0.1);
  -webkit-backdrop-filter: blur(26px);
  backdrop-filter: blur(26px);
  width: 34.4rem;
  height: 11.7rem;
  display: flex;
  flex-direction: column;
  gap: var(--space-2x);
  border-radius: var(--border-radius-3x);
  background: linear-gradient(180deg, rgba(31, 27, 90, 0.12), rgba(31, 27, 90, 0.075));
  padding: var(--space-4x);
}
.card_card:first-child {
  -webkit-mask: linear-gradient(210deg, transparent, rgba(0, 0, 0, 0.3) 40%, rgb(0, 0, 0) 60%);
  mask: linear-gradient(210deg, transparent, rgba(0, 0, 0, 0.3) 40%, rgb(0, 0, 0) 60%);
}
.card_card:nth-child(2) {
  -webkit-mask: linear-gradient(210deg, transparent, rgba(0, 0, 0, 0.3) 20%, rgb(0, 0, 0) 60%);
  mask: linear-gradient(210deg, transparent, rgba(0, 0, 0, 0.3) 20%, rgb(0, 0, 0) 60%);
}
.card_cardHeader {
  color: var(--color-text-primary-default);
  font-size: var(--font-size-18);
}
.card_cardHeader svg {
  width: 2.8rem;
  height: 2.8rem;
}
.card_description {
  color: var(--color-text-primary-default);
  font-size: var(--font-size-14);
}
.card_button {
  border-radius: var(--border-radius-2x);
  padding: 0.3rem 0.6rem;
  background: hsla(0, 0%, 100%, 0.2);
  display: flex;
  align-items: center;
  gap: var(--space-1x);
  width: min-content;
}
.card_buttonText_ {
  font-size: var(--font-size-12);
  line-height: 1.6rem;
  color: var(--color-text-primary-default);
}
.card_checkedIcon {
  width: 1.6rem;
  height: 1.6rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  display: inline-block;
}
.plus_container {
  margin: auto;
  gap: var(--space-4x);
}
@media (max-height: 768px) {
  .plus_container {
    gap: var(--space-2x);
  }
}
.text-field_textField {
  height: 20rem;
  width: 56rem;
  margin-left: 4rem;
  position: relative;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.text-field_textField .text-field_highlighter {
  position: absolute;
  top: 9rem;
  left: 2.8rem;
  width: 50rem;
  height: 8.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text-field_textField .text-field_highlighter .text-field_highlighterBlock {
  border-radius: 0.4rem;
  width: 100%;
  height: 2.4rem;
  background: hsla(0, 0%, 100%, 0.1);
  position: relative;
}
.text-field_textField
  .text-field_highlighter
  .text-field_highlighterBlock:first-child
  .text-field_underline {
  width: 8.8rem;
  left: 13.4rem;
}
.text-field_textField
  .text-field_highlighter
  .text-field_highlighterBlock:nth-child(2)
  .text-field_underline {
  left: 0.4rem;
  width: 6.4rem;
}
.text-field_textField
  .text-field_highlighter
  .text-field_highlighterBlock:nth-child(3)
  .text-field_underline:first-child {
  left: 6.8rem;
  width: 16rem;
}
.text-field_textField
  .text-field_highlighter
  .text-field_highlighterBlock:nth-child(3)
  .text-field_underline:nth-child(2) {
  left: 26.5rem;
  width: 10rem;
}
.text-field_textField
  .text-field_highlighter
  .text-field_highlighterBlock:nth-child(3)
  .text-field_underline:nth-child(3) {
  left: 36.8rem;
  width: 11rem;
}
.text-field_textField .text-field_highlighter .text-field_underline {
  position: absolute;
  background: #ff7a74;
  height: 0.2rem;
  top: 2.2rem;
}
.text-field_textField .text-field_highlighter .text-field_vbar {
  width: 1rem;
  position: absolute;
  top: 0;
  left: -2rem;
  background: linear-gradient(180deg, #b3e0ff 67.035%, #d7d3fe 161.61%);
  border-radius: 1.574rem;
  box-shadow: 0 0 3.148px 0.394px #a1a0b3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0;
  transition: height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: visible;
}
.text-field_textField
  .text-field_highlighter
  .text-field_vbar[data-animate="true"] {
  height: 8.2rem;
}
.text-field_textField
  .text-field_highlighter
  .text-field_vbar
  .text-field_vbarIcon_ {
  width: 0.8rem;
  height: 0.5rem;
  position: relative;
  z-index: 1;
}
.text-field_textField
  .text-field_highlighter
  .text-field_vbar
  .text-field_vbarIcon_:after,
.text-field_textField
  .text-field_highlighter
  .text-field_vbar
  .text-field_vbarIcon_:before {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 0.15rem;
  background: #4a4a6a;
  border-radius: 0.1rem;
}
.text-field_textField
  .text-field_highlighter
  .text-field_vbar
  .text-field_vbarIcon_:before {
  left: 0;
  top: 50%;
  transform: rotate(45deg);
  transform-origin: right center;
}
.text-field_textField
  .text-field_highlighter
  .text-field_vbar
  .text-field_vbarIcon_:after {
  right: 0;
  top: 50%;
  transform: rotate(-45deg);
  transform-origin: left center;
}
.text-field_mask {
  -webkit-mask: linear-gradient(210deg, transparent, rgba(0, 0, 0, 0) 20%, rgb(0, 0, 0) 60%);
  mask: linear-gradient(210deg, transparent, rgba(0, 0, 0, 0) 20%, rgb(0, 0, 0) 60%);
}
.vbar-card_vbarCard {
  height: 20.8rem;
  width: 56.7rem;
  position: relative;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: var(--border-radius-4x);
}
.vbar-card_vbarCard .vbar-card_cardButtons {
  position: absolute;
  bottom: 1.6rem;
  left: 2.5rem;
  display: flex;
  gap: 0;
}
.vbar-card_vbarCard .vbar-card_acceptButton,
.vbar-card_vbarCard .vbar-card_dismissButton {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 9rem;
  height: 3.6rem;
}
.proofreader_content {
  min-height: 41rem;
}
.chat-input_chatInput {
  height: 13.9rem;
  width: 40.9rem;
  border-radius: var(--border-radius-4x);
  position: relative;
  border: 0.7px solid hsla(0, 0%, 100%, 0.3);
  -webkit-backdrop-filter: blur(52px);
  backdrop-filter: blur(52px);
  background: linear-gradient(180deg, rgba(31, 27, 90, 0.12), rgba(31, 27, 90, 0.075));
  display: flex;
  flex-direction: column;
  padding: var(--space-3x);
  gap: var(--space-3x);
  justify-content: flex-end;
}
.chat-input_chatInput .chat-input_pill {
  height: 3.3rem;
  width: 18.9rem;
}
.chat-input_chatInput .chat-input_inputLine {
  display: flex;
  align-items: center;
}
.chat-input_chatInput .chat-input_inputLine.chat-input_typing {
  animation: chat-input_typing var(--typing-duration) ease-in-out;
  overflow: hidden;
}
.chat-input_chatInput .chat-input_inputLine .chat-input_cursor {
  animation: chat-input_cursor 1s linear infinite;
  width: 1px;
  height: 1.6rem;
  margin-left: 0.5rem;
  display: inline-block;
  background-color: var(--color-text-secondary-default);
}
.chat-input_chatInput .chat-input_inputLine .chat-input_input {
  color: var(--color-text-secondary-default);
  white-space: nowrap;
}
.chat-input_chatInput .chat-input_inputLine .chat-input_input:empty:after {
  content: "Ask Go";
  color: var(--color-text-secondary-disabled);
}
.chat-input_chatInput .chat-input_buttonLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat-input_chatInput .chat-input_buttonLine .chat-input_plus {
  width: 2.4rem;
  height: 2.4rem;
  animation-duration: var(--plus-button-click-duration);
}
.chat-input_chatInput .chat-input_buttonLine .chat-input_send {
  width: 3.4rem;
  height: 3.4rem;
  background-color: var(--color-text-secondary-default);
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-duration: var(--send-button-click-duration);
}
.chat-input_chatInput .chat-input_buttonLine .chat-input_clicked {
  animation-name: chat-input_clicked;
  animation-timing-function: ease-in-out;
}
.chat-input_chatInput .chat-input_buttonLine .chat-input_source {
  width: 6.4rem;
  height: 3.4rem;
  left: 4.5rem;
  position: absolute;
}
.chat-input_chatInput .chat-input_buttonLine .chat-input_sendIcon {
  width: 1rem;
  height: 1.2rem;
}
.chat-input_img {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
@keyframes chat-input_typing {
  0% {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes chat-input_cursor {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes chat-input_clicked {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}
.thinking_bouncingDot {
  height: 0.4rem;
  width: 0.4rem;
  border-radius: 50%;
  background-color: var(--color-border-primary-default);
  animation: thinking_bounce 1.6s ease-in-out infinite;
}
.thinking_bouncingDot:nth-child(2) {
  animation-delay: 0.25s;
}
.thinking_bouncingDot:nth-child(3) {
  animation-delay: 0.5s;
}
@keyframes thinking_bounce {
  0%,
  50%,
  to {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-0.2rem);
  }
}
.thinking_thinking {
  display: flex;
  gap: var(--space-1x);
  padding: var(--space-4x);
}
.chat-thread_threadContainer {
  display: flex;
  flex-direction: column;
  -webkit-mask: linear-gradient(180deg, transparent 0, transparent 10%, white);
  mask: linear-gradient(180deg, transparent 0, transparent 10%, white);
  height: 50dvh;
  margin-top: -25dvh;
  justify-content: flex-end;
}
.chat-thread_threadContainer .chat-thread_message,
.chat-thread_threadContainer .chat-thread_response {
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 0;
}
.chat-thread_threadContainer .chat-thread_message {
  align-self: flex-end;
  height: 11.1rem;
  width: 40rem;
}
.chat-thread_threadContainer .chat-thread_response {
  height: 30.8rem;
  width: 40rem;
}
.chat-thread_threadContainer .chat-thread_thinkingContainer {
  height: 5rem;
  width: 40rem;
  overflow: hidden;
}
.context-menu_contextMenu {
  position: absolute;
  left: -2rem;
  bottom: 6rem;
  height: 21.8rem;
  width: 22.4rem;
  -webkit-backdrop-filter: blur(52px);
  backdrop-filter: blur(52px);
  border-radius: var(--border-radius-4x);
  will-change: transform;
}
.context-menu_contextMenu .context-menu_jiraSource {
  width: 20.4rem;
  height: 3.3rem;
  position: absolute;
  left: 1rem;
  top: 17rem;
  will-change: transform;
}
.context-menu_contextMenu .context-menu_jiraSource.context-menu_clicked {
  animation: context-menu_click-source var(--source-click-duration) ease-in-out;
  animation-delay: var(--source-click-delay);
}
.context-menu_contextMenu,
.context-menu_jiraSource {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
@keyframes context-menu_click-source {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  to {
    transform: scale(1);
  }
}
.super-human-go_container {
  margin: auto;
}
.super-human-go_chatContainer {
  position: relative;
  height: calc(50dvh - 13.9rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.use-agent-skills-anywhere_container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}
.use-agent-skills-anywhere_content {
  height: 100dvh;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-content_mainContent {
  grid-column: 1;
  display: flex;
  flex-direction: column;
}
.main-content_mainContent [data-step] {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
@media (max-width: 1499px) {
  .main-content_mainContent {
    align-items: center;
  }
}
.scroll-indicator_scrollIndicator {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-text-primary-default);
  display: flex;
  align-items: center;
  gap: var(--space-2x);
  justify-content: center;
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-medium);
  flex-direction: column;
}
.scroll-indicator_scrollArrow {
  animation: scroll-indicator_bounce 2s infinite;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 1.5rem;
  height: 1.5rem;
}
@keyframes scroll-indicator_bounce {
  0%,
  20%,
  50%,
  80%,
  to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-1rem);
  }
  60% {
    transform: translateY(-0.5rem);
  }
}
.superhuman-go-intro_page {
  min-height: 60rem;
  position: fixed;
  overflow: hidden;
  inset: 0;
  height: 100dvh;
  width: 100dvw;
}
.superhuman-go-intro_mainPage {
  height: 100dvh;
  overflow: auto;
  scroll-behavior: smooth;
  position: relative;
  scroll-snap-type: y mandatory;
}
.superhuman-go-intro_mainPage::-webkit-scrollbar {
  width: 8px;
}
.superhuman-go-intro_mainPage::-webkit-scrollbar-track {
  background: #738fc1;
}
.superhuman-go-intro_mainPage::-webkit-scrollbar-thumb {
  background: #2e3a4d;
  border-radius: var(--border-radius-1x);
}
.superhuman-go-intro_main {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative;
}
.superhuman-go-intro_fireflies {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
}
.superhuman-go-intro_hasOverlay:after {
  content: "";
  position: absolute;
  inset: 0;
  background:
    linear-gradient(270deg, rgba(0, 0, 0, 0) 56.21%, rgba(0, 0, 0, 0.15)),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 62%, rgba(0, 0, 0, 0.32));
}
.superhuman-go-intro_hasOverlay.superhuman-go-intro_onlyLeftMask:after {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 56.21%, rgba(0, 0, 0, 0.15));
}
/*# sourceMappingURL=a02750e403d01ddc.css.map*/
