@layer components {
  @layer text {
    .text_text {
      font-weight: var(--font-weight-regular);
      font-size: var(--font-size-16);
      line-height: var(--line-height-default);
      max-width: min(90vw, 90rem);
    }
    .text_labelSmall {
      font-size: var(--font-size-12);
      line-height: 1.8rem;
    }
    .text_labelMedium,
    .text_labelSmall {
      font-weight: var(--font-weight-regular);
      font-family: var(--font-family-mono);
    }
    .text_labelMedium {
      font-size: var(--font-size-14);
      line-height: 2.1rem;
    }
    .text_bodySmall {
      font-size: var(--font-size-14);
      line-height: 1.8rem;
    }
    .text_bodyMedium,
    .text_bodySmall {
      color: var(--color-text-subdued-default);
      font-weight: var(--font-weight-regular);
      font-family: var(--font-family-serif);
    }
    .text_bodyMedium {
      font-size: var(--font-size-16);
      line-height: 2.1rem;
    }
    .text_bodyLarge {
      color: var(--color-text-subdued-default);
      font-weight: var(--font-weight-regular);
      font-size: var(--font-size-18);
      line-height: 2.4rem;
      font-family: var(--font-family-serif);
    }
    .text_bodyXlarge {
      color: var(--color-text-subdued-default);
      font-weight: var(--font-weight-regular);
      font-size: var(--font-size-20);
      line-height: 2.6rem;
      font-family: var(--font-family-serif);
      @media (min-width: 1281px) {
        font-size: var(--font-size-22);
        line-height: 2.8rem;
      }
    }
    .text_headerSmall {
      font-weight: var(--font-weight-semibold);
      font-size: var(--font-size-22);
      line-height: 2.6rem;
      font-family: var(--font-family-sans);
      @media (min-width: 641px) {
        font-size: var(--font-size-24);
        line-height: 2.8rem;
      }
      @media (min-width: 1281px) {
        font-size: var(--font-size-26);
        line-height: 3rem;
      }
      @media (min-width: 1441px) {
        font-size: var(--font-size-28);
        line-height: 3.2rem;
      }
    }
    .text_headerMedium {
      font-weight: var(--font-weight-medium);
      font-size: var(--font-size-28);
      line-height: 3.2rem;
      font-family: var(--font-family-sans);
      @media (min-width: 641px) {
        font-size: var(--font-size-34);
        line-height: 3.8rem;
      }
      @media (min-width: 1281px) {
        font-size: var(--font-size-38);
        line-height: 4.2rem;
      }
      @media (min-width: 1441px) {
        font-size: var(--font-size-42);
        line-height: 4.4rem;
      }
    }
    .text_headerLarge {
      font-weight: var(--font-weight-medium);
      font-size: var(--font-size-30);
      line-height: 3.4rem;
      font-family: var(--font-family-sans);
      @media (min-width: 641px) {
        font-size: var(--font-size-40);
        line-height: 4.4rem;
      }
      @media (min-width: 1281px) {
        font-size: var(--font-size-46);
        line-height: 5rem;
      }
      @media (min-width: 1441px) {
        font-size: var(--font-size-50);
        line-height: 5.3rem;
      }
    }
    .text_headerXlarge {
      font-weight: var(--font-weight-medium);
      font-size: var(--font-size-36);
      line-height: 4rem;
      font-family: var(--font-family-sans);
      @media (min-width: 641px) {
        font-size: var(--font-size-48);
        line-height: 5.2rem;
      }
      @media (min-width: 1281px) {
        font-size: var(--font-size-54);
        line-height: 5.7rem;
      }
      @media (min-width: 1441px) {
        font-size: var(--font-size-60);
        line-height: 6.3rem;
      }
    }
    .text_jumbo1 {
      font-weight: var(--font-weight-medium);
      font-size: var(--font-size-40);
      line-height: 4.4rem;
      font-family: var(--font-family-sans);
      @media (min-width: 641px) {
        font-size: var(--font-size-58);
        line-height: 6.2rem;
      }
      @media (min-width: 1281px) {
        font-size: var(--font-size-66);
        line-height: 7rem;
      }
      @media (min-width: 1441px) {
        font-size: var(--font-size-72);
        line-height: 7.6rem;
      }
    }
    .text_jumbo2 {
      font-weight: var(--font-weight-medium);
      font-size: var(--font-size-44);
      line-height: 4.8rem;
      font-family: var(--font-family-sans);
      @media (min-width: 641px) {
        font-size: var(--font-size-70);
        line-height: 7.4rem;
      }
      @media (min-width: 1281px) {
        font-size: var(--font-size-80);
        line-height: 8.4rem;
      }
      @media (min-width: 1441px) {
        font-size: var(--font-size-86);
        line-height: 9rem;
      }
    }
    .text_fontWeightRegular {
      font-weight: var(--font-weight-regular);
    }
    .text_fontWeightMedium {
      font-weight: var(--font-weight-medium);
    }
    .text_fontWeightSemibold {
      font-weight: var(--font-weight-semibold);
    }
    .text_fontWeightBold {
      font-weight: var(--font-weight-bold);
    }
  }
}
/*# sourceMappingURL=2885cd27d8dd6165.css.map*/
