.headingMedium {
  font-size: 3.2rem;
  line-height: 96%;
  font-weight: var(--font-weight-regular);
}

@container (width > 400px) {
  .headingMedium {
    font-size: 3.6rem;
  }
}

@container (width > 600px) {
  .headingMedium {
    font-size: 4.8rem;
  }
}

.headingLarge {
  max-width: 12ch;
  font-size: 3.6rem;
  line-height: 90%;
  font-weight: var(--font-weight-medium);
}

@container (width > 400px) {
  .headingLarge {
    font-size: 4.8rem;
  }
}

@container (width > 600px) {
  .headingLarge {
    font-size: 6.4rem;
  }
}

.copy {
  font-size: 1.8rem;
  line-height: 130%;
  font-family: var(--font-family-serif);
}

@container (width > 400px) {
  .copy {
    font-size: 2rem;
  }
}

@container (width > 600px) {
  .copy {
    font-size: 2rem;
    max-width: 74cqi;
  }
}
