.contentWrapper {
  --mobile-padding-inline: var(--space-4x);
  max-width: var(--content-max-width);
  margin-inline: auto;
  padding-inline: var(--space-4x);
  container-type: inline-size;
  box-sizing: content-box;
}

@media (min-width: 641px) {
  .contentWrapper {
    padding-inline: var(--space-6x);
  }
}

@media (min-width: 1281px) {
  .contentWrapper {
    padding-inline: var(--space-9x);
  }
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.stack {
  display: grid;
  isolation: isolate;
}

.stack > * {
  grid-area: 1/1;
  align-self: start;
  justify-self: start;
}

.alignStart {
  align-items: start;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: end;
}

.alignStretch {
  align-items: stretch;
}

.justifyStart {
  justify-content: start;
}

.justifyCenter {
  justify-content: center;
}

.justifySpaceBetween {
  justify-content: space-between;
}

.flexWrap {
  flex-wrap: wrap;
}

.gap0_5x {
  gap: var(--space-0_5x);
}

.gap1x {
  gap: var(--space-1x);
}

.gap2x {
  gap: var(--space-2x);
}

.gap3x {
  gap: var(--space-3x);
}

.gap4x {
  gap: var(--space-4x);
}

.gap6x {
  gap: var(--space-6x);
}

.gap9x {
  gap: var(--space-9x);
}
