.navList {
  display: flex;
  gap: var(--space-2x);
}

.primary {
  flex-direction: row;
  align-items: center;
}

.secondary {
  flex-direction: column;
}

.navListItem {
  padding: var(--space-2x);
  border-block-end: 1px solid var(--color-border-primary-default);
}

.navLinkBeforeIcon {
  margin-inline-end: var(--space-1x);
}

.navLink {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 4.2rem;
  gap: var(--space-1x);
  padding-inline: var(--space-2x);
  color: var(--color-text-primary-default);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-regular);
  line-height: 2.4rem;
  cursor: pointer;
  text-decoration: none;
}

.navLink:where(button) {
  width: 100%;
}

.navLink:hover {
  color: var(--color-text-primary-hover);
  text-decoration: underline;
  text-underline-offset: 2px;
}

.icon {
  transition: rotate 0s ease;
}

.iconRotated {
  rotate: -180deg;
}

.navLinkItemContainer {
  padding: var(--space-6x);
}

.navLinkItemColumn {
  padding-block: var(--space-2x);
  padding-inline: var(--space-4x);
}

.navLinkItem {
  padding-inline-start: var(--space-4x);
  padding-inline-end: var(--space-6x);
}

.navMenuListItem:has(a:focus-visible),
.navMenuListItem:hover {
  outline: var(--menu-item-focus-outline) solid 1px;
  border-radius: var(--border-radius-1_5x);
}

.navMenuListItem a:focus-visible,
.navMenuListItem a:hover {
  outline: none;
  text-decoration: none;
}
