.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block-start: var(--space-4x);
  overflow: hidden;
  box-sizing: border-box;
  isolation: isolate;
  color: var(--color-text-primary-default);
}

.contentWrapper {
  --mobile-padding-inline: var(--space-4x);
  max-width: var(--content-max-width);
  margin-inline: auto;
  padding-inline: var(--space-4x);
  container-type: inline-size;
  box-sizing: content-box;
}

.stack {
  display: grid;
  isolation: isolate;
}

.stack > * {
  grid-area: 1/1;
  align-self: start;
  justify-self: start;
}

@media (min-width: 641px) {
  .contentWrapper {
    padding-inline: var(--space-6x);
  }
}

@media (min-width: 1281px) {
  .contentWrapper {
    padding-inline: var(--space-9x);
  }
}

.titleGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  z-index: 1;
  gap: var(--space-4x);
}

@media (min-width: 1081px) {
  .titleGroup {
    gap: var(--space-6x);
  }
}

.heading,
.title {
  animation: fade-slide-down 0.5s cubic-bezier(0.191, 0.703, 0.704, 0.952);
}

.heroTitle.title {
  text-align: center;
  font-size: 3.2rem;
  line-height: 96%;
  font-weight: var(--font-weight-medium);
}

@media (min-width: 641px) {
  .heroTitle.title {
    font-size: var(--font-size-48);
  }
}

@media (min-width: 1081px) {
  .heroTitle.title {
    font-size: var(--font-size-64);
  }
}

.heroHeading.heading {
  text-align: center;
  font-size: var(--font-size-16);
  line-height: 130%;
  font-weight: var(--font-weight-regular);
}

@media (min-width: 641px) {
  .heroHeading.heading {
    font-size: var(--font-size-24);
  }
}

@media (min-width: 1081px) {
  .heroHeading.heading {
    font-size: var(--font-size-26);
  }
}

.heroCard {
  font-size: var(--font-size-14);
  line-height: var(--line-height-open);
  font-weight: var(--font-weight-regular);
}

.visualsContainer {
  display: grid;
  isolation: isolate;
  flex: 1 1;
  user-select: none;
  pointer-events: none;
  margin-block-start: var(--space-6x);
}

.visualsContainer > * {
  grid-area: 1/1;
  align-self: start;
  justify-self: start;
}

@media (min-width: 1081px) {
  .visualsContainer {
    margin-block-start: var(--space-0x);
    min-height: 66rem;
  }
}

.visualsContainer > .visualGroup2 {
  align-self: end !important;
  justify-self: end !important;
}

@media (min-width: 1081px) {
  .visualsContainer > .visualGroup2 {
    align-self: center !important;
    margin-block-start: var(--space-0x);
  }
}

.personPictureContainer {
  align-self: stretch;
  justify-self: stretch;
  display: flex;
  justify-content: center;
  z-index: 2;
  animation: fade-slide-up 0.5s cubic-bezier(0.191, 0.703, 0.704, 0.952);
}

.personPicture {
  aspect-ratio: 822/660;
}

.visualGroup1 {
  z-index: 3;
  align-self: start;
  justify-self: start;
  display: flex;
  flex-direction: column;
  gap: var(--space-6x);
}

.visualRow {
  display: flex;
  align-items: center;
  gap: var(--space-6x);
}

.columnGap4x {
  display: flex;
  flex-direction: column;
  gap: var(--space-4x);
}

.columnGap2x {
  display: flex;
  flex-direction: column;
  gap: var(--space-2x);
}

.columnGap3x {
  display: flex;
  flex-direction: column;
  gap: var(--space-3x);
}

.rowCenter {
  display: flex;
  align-items: center;
}

.rowCenterGap2x {
  display: flex;
  align-items: center;
  gap: var(--space-2x);
}

.rowCenterGap2xWrap {
  display: flex;
  align-items: center;
  gap: var(--space-2x);
  flex-wrap: wrap;
}

.rowCenterGap0_5x {
  display: flex;
  align-items: center;
  gap: var(--space-0_5x);
}

.rowEndSpaceBetweenGap4x {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: var(--space-4x);
}

.rowCenterGap1x {
  display: flex;
  align-items: center;
  gap: var(--space-1x);
}

.visual {
  --_delay: calc(var(--index) * 0.1s);
  scale: 0;
  opacity: 0;
  animation: fade-in 0.3s cubic-bezier(0.191, 0.703, 0.704, 0.952) forwards;
  animation-delay: var(--_delay);
}

.visual1 {
  display: none;
}

@media (min-width: 641px) {
  .visual1 {
    display: block;
  }
}

.visual2 {
  display: none;
}

@media (min-width: 1081px) {
  .visual2 {
    display: block;
  }
}

.mail {
  margin-inline-start: var(--space-32x);
  display: grid;
  isolation: isolate;
}

.mail > * {
  grid-area: 1/1;
  align-self: start;
  justify-self: start;
}

@media (max-width: 640px) {
  .mail {
    display: none;
  }
}

.visualGroup2 {
  flex-direction: column;
  align-items: end;
  gap: var(--space-6x);
  align-self: end;
  justify-self: end;
  width: 50rem;
  margin-block-end: var(--space-4x);
  display: none;
}


@media (min-width: 641px) {
  .visualGroup2 {
    display: flex;
  }

}

@media (min-width: 1081px) {
  .visualGroup2 {
    align-self: center;
    margin-block-start: var(--space-0x);
  }

}

.visual3 {
  z-index: 1;
}

.visual4 {
  align-self: center;
  display: none;
  z-index: 1;
}

@media (min-width: 1081px) {
  .visual4 {
    display: block;
  }
}

.visual5 {
  align-self: end;
  z-index: 1;
}

@media (min-width: 1081px) {
  .visual5 {
    align-self: start;
  }
}

.visual6 {
  display: none;
  align-self: end;
  justify-self: center;
  z-index: 3;
}

@media (min-width: 1081px) {
  .visual6 {
    display: grid;
  }
}

.visual7 {
  display: none;
  align-self: end;
  justify-self: end;
  translate: 25% 35%;
  z-index: 3;
}

@media (min-width: 1081px) {
  .visual7 {
    display: block;
  }
}

.visual8 {
  display: none;
  z-index: 3;
}

@media (min-width: 641px) {
  .visual8 {
    display: block;
  }
}

@media (min-width: 1081px) {
  .visual8 {
    display: none;
  }
}

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    translate: 0 -50%;
  }
}

@keyframes fade-slide-up {
  0% {
    opacity: 0;
    translate: 0 50%;
  }
}

@keyframes fade-in {
  to {
    scale: 1;
    opacity: 1;
  }
}

.heroSectionTimeline {
  view-timeline-name: --homepage-hero-section;
  view-timeline-axis: block;
}

@property --hero-button-background-color-stop-1 {
  syntax: "<color>";
  initial-value: #1b1938;
  inherits: true;
}

@property --hero-button-background-color-stop-2 {
  syntax: "<color>";
  initial-value: #1b1938;
  inherits: true;
}

@property --hero-button-gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: true;
}

.heroButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-4x);
  padding: 0.6rem;
  padding-inline-start: var(--space-4x);
  color: var(--color-text-primary-default);
  background: linear-gradient(
    180deg,
    var(--hero-button-background-color-stop-1) 0,
    var(--hero-button-background-color-stop-2) 100%
  );
  border-radius: var(--border-radius-3x);
  box-shadow:
    0 1px 2px 0 rgb(14 18 27/24%),
    0 0 0 1px #353088;
  border: 1px solid rgb(255 255 255/12%);
  text-decoration: none;
  outline-offset: 2px;
}

.heroButton:hover {
  --hero-button-background-color-stop-2: #2d2a5c;
}

.heroButton:active {
  --hero-button-background-color-stop-1: #16142d;
  --hero-button-background-color-stop-2: #16142d;
}

.heroButton[data-loading="true"] {
  opacity: 0.7;
}

.heroButtonText {
  font-size: var(--font-size-16);
  line-height: 1;
  font-weight: var(--font-weight-bold);
  text-shadow: 0 1px 0 rgb(13 12 37/18%);
}

.heroButtonIconContainer {
  position: relative;
  height: 3.6rem;
  width: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-2x);
  background:
    linear-gradient(180deg, rgb(255 255 255/12%) 0, rgb(255 255 255/0) 100%) border-box,
    radial-gradient(
        circle at calc(50% + 18% * cos(var(--hero-button-gradient-angle)))
          calc(50% + 48% * sin(var(--hero-button-gradient-angle))),
        rgb(133 125 250/60%) 0,
        transparent 50%
      )
      padding-box,
    radial-gradient(
        circle at calc(50% + 7% * cos(var(--hero-button-gradient-angle) + 90deg))
          calc(50% + 48% * sin(var(--hero-button-gradient-angle) + 90deg)),
        rgb(255 51 102/60%) 0,
        transparent 50%
      )
      padding-box,
    radial-gradient(
        circle at calc(50% - 43% * cos(var(--hero-button-gradient-angle) + 180deg))
          calc(50% + 14% * sin(var(--hero-button-gradient-angle) + 180deg)),
        rgb(75 105 227/50%) 0,
        transparent 50%
      )
      padding-box,
    radial-gradient(
        circle at calc(50% + 41% * cos(var(--hero-button-gradient-angle) + 270deg))
          calc(50% - 25% * sin(var(--hero-button-gradient-angle) + 270deg)),
        rgb(104 222 255/50%) 0,
        transparent 50%
      )
      padding-box,
    linear-gradient(180deg, #554dcb 0, #4a43b0 100%) border-box;
  border: 1px solid transparent;
  box-shadow: 0 1px 2px rgb(14 18 27/8%);
  animation: heroButtonGradientRotate 10s linear infinite;
  animation-play-state: paused;
}

.heroButton:hover .heroButtonIconContainer {
  animation-play-state: running;
}

.heroButtonIcon {
  width: 1.6rem;
  transition: translate 0.3s ease-in-out;
}

.heroButton:hover .heroButtonIcon {
  translate: 4px;
}

@keyframes heroButtonGradientRotate {
  to {
    --hero-button-gradient-angle: 1turn;
  }
}

.responsivePicture {
  max-width: 100%;
  height: auto;
}

.imageCover {
  object-fit: cover;
}

.heroCardBase {
  color: var(--color-text-primary-default);
  position: relative;
  padding: var(--space-4x);
  border-radius: var(--border-radius-4x);
  border: 1px solid rgb(255 255 255/30%);
  background:
    linear-gradient(210deg, rgb(255 255 255/15%), transparent 30%),
    linear-gradient(180deg, rgb(31 27 90/30%), rgb(31 27 90/20%));
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

@supports ((-webkit-mask-composite: source-out) or (mask-composite: subtract)) {
  .heroCardBase {
    border-left-color: currentcolor;
    border-left-style: none;
    border-left-width: medium;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-right-color: currentcolor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: medium;
  }

  .heroCardBase::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    border: 1px solid transparent;
    border-radius: inherit;
    background: linear-gradient(45deg, rgb(31 27 90/20%), rgb(255 255 255/40%)) border-box;
    -webkit-mask:
      linear-gradient(#000000, #000000) border-box,
      linear-gradient(#000000, #000000) padding-box;
    mask:
      linear-gradient(#000000, #000000) border-box,
      linear-gradient(#000000, #000000) padding-box;
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
  }
}

.chatCard {
  max-width: 36rem;
}

.chatHeroIcon {
  width: 2rem;
  height: 2rem;
}

.chatMessage {
  max-width: 90%;
}

.chatMessage span {
  border: 1px solid rgb(255 255 255/20%);
  padding-inline: var(--space-1x);
  padding-block: var(--space-0_5x);
  border-radius: var(--border-radius-2x);
}

.chatHasSuggestions {
  max-width: 100%;
}

.chatUserMessage {
  background-color: rgb(255 255 255/13%);
  align-self: flex-end;
  padding-block: var(--space-3x);
  padding-inline: var(--space-4x);
  border-radius: var(--border-radius-full);
  border-end-end-radius: var(--border-radius-0x);
}

.chatSuggestions {
  margin-block-start: var(--space-1x);
}

.chatTextInput {
  border: 1px solid rgb(255 255 255/20%);
  border-radius: var(--border-radius-2x);
  margin-block-start: var(--space-2x);
  padding: var(--space-3x);
}

.chatSendIcon {
  height: 1.6rem;
  width: 1.6rem;
  flex-shrink: 0;
}

.agentsCard {
  border-radius: var(--border-radius-6x);
  padding: var(--space-1x);
}

.agentItem {
  height: 4rem;
  width: 4rem;
}

.agentSelected {
  align-self: stretch;
  justify-self: stretch;
  border-radius: var(--border-radius-full);
  background-color: rgb(255 255 255/13%);
}

.agentIcon {
  width: 2.1rem;
  height: 2.1rem;
  align-self: center;
  justify-self: center;
}

.mailCard {
  padding-inline: var(--space-0x);
  display: grid;
  grid-template-columns: 1.6rem repeat(3, auto) 1fr;
  grid-template-rows: 2rem;
  grid-gap: var(--space-4x);
  gap: var(--space-4x);
  max-width: 47rem;
  align-items: center;
  overflow: hidden;
}

.mailMenu {
  width: 100%;
  height: 0.2rem;
  background-color: var(--color-text-primary-default);
  box-shadow:
    0 -0.5rem,
    0 0.5rem;
}

.mailMessage {
  width: 0.2rem;
  height: 2rem;
}

.mailSelectedMessage {
  background-color: var(--color-text-primary-default);
}

.mailMessageContent {
  grid-column: 3/-1;
  white-space: nowrap;
}

.mailFadedText {
  opacity: 0.6;
}

.toolCard {
  padding: var(--space-3x) var(--space-4x);
  border-radius: var(--border-radius-6x);
}

.toolScheduler {
  border-radius: var(--border-radius-4x);
  max-width: 25rem;
}

.editorCard {
  width: 41rem;
  padding-inline: var(--space-6x);
}

.editorToolbarText {
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-bold);
}

.editorToolbarTextEnd {
  margin-inline-start: auto;
}

.editorText {
  padding-inline-end: var(--space-1x);
}

.editorText span {
  background-color: rgb(255 255 255/12%);
}

.editorToolbar {
  padding-inline: var(--space-1x);
  background: linear-gradient(180deg, rgb(255 255 255/8%), rgb(255 255 255/7%));
  align-self: center;
  border-radius: var(--border-radius-full);
}

.editorToolbarItem {
  padding: var(--space-2x);
}

.editorToolbarItem:last-child {
  border-inline-start: 1px solid rgb(14 20 41/10%);
}

.editorArrowDown {
  width: 0.8rem;
  height: 0.8rem;
}
