.footer {
  background-color: var(--color-bg-primary-default);
  color: var(--color-text-primary-default);
}

.contentWrapper {
  --mobile-padding-inline: var(--space-4x);
  max-width: var(--content-max-width);
  margin-inline: auto;
  padding-inline: var(--space-4x);
  container-type: inline-size;
  box-sizing: content-box;
}

@media (min-width: 641px) {
  .contentWrapper {
    padding-inline: var(--space-6x);
  }
}

@media (min-width: 1281px) {
  .contentWrapper {
    padding-inline: var(--space-9x);
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.gap6x {
  gap: var(--space-6x);
}

.gap4x {
  gap: var(--space-4x);
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-4x);
  padding-block-start: var(--space-9x);
  padding-block-end: var(--space-4x);
}

@media (min-width: 1081px) {
  .content {
    grid-template-columns: minmax(auto, 40rem) 1fr;
    gap: var(--space-8x);
    padding-block-start: var(--space-16x);
    padding-block-end: var(--space-12x);
  }
}

.logo {
  margin-block-end: var(--space-4x);
}

@media (min-width: 769px) {
  .logo {
    margin-block-end: var(--space-0x);
  }
}

.logoTitle {
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-medium);
  line-height: 96%;
  letter-spacing: -0.024rem;
  display: none;
}

@media (min-width: 1081px) {
  .logoTitle {
    display: block;
  }
}

.contentNav {
  display: flex;
  grid-row: span 2;
  flex-direction: column;
}

@media (min-width: 769px) {
  .contentNav {
    flex-direction: row;
  }
}

.contentItem {
  padding-block-start: var(--space-8x);
  padding-block-end: var(--space-10x);
  padding-inline: var(--space-8x);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-regular);
  line-height: 2.4rem;
  border-block: 1px solid #64454b;
  margin-block-start: -1px;
  margin-inline-start: -1px;
  border-inline: 1px solid #64454b;
  flex: 1 1;
}

.contentItemTitle {
  margin-block-end: var(--space-4x);
}

.navLink {
  color: rgb(from var(--color-text-primary-default) r g b/80%);
  min-height: auto !important;
  padding-inline: var(--space-0x) !important;
}

.trademark {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-medium);
  line-height: 1.8rem;
  letter-spacing: -0.014rem;
  margin-block-start: auto;
}

.wordmark {
  grid-column: 1/-1;
  color: light-dark(var(--neutral-0), #4e242c);
}

.privacyChoicesNavLink {
  gap: 0.5rem;
}
