.container {
  position: fixed;
  inset: 0;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  z-index: -1;
  background:
    linear-gradient(
      to bottom left,
      rgb(168 164 216/50%),
      rgb(107 165 232/50%),
      rgb(176 112 192/60%),
      rgb(144 136 208/50%)
    ),
    linear-gradient(180deg, #7c9ad3, #314682);
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
}

.container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgb(49 70 130/70%) 0,
    rgb(127 156 213/30%) 30%,
    rgb(0 0 0/0)
  );
}

.video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease-in-out;
}

@starting-style {
  .video {
    opacity: 0;
  }
}
